@font-face {
  font-family: 'Gotham Pro Light';
  src: url('../fonts/GothamPro-Light.woff2') format('woff2'),
    url('../fonts/GothamPro-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro Medium';
  src: url('../fonts/GothamPro-Medium.woff2') format('woff2'),
    url('../fonts/GothamPro-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham Pro';
  src: url('../fonts/GothamPro.woff2') format('woff2'),
    url('../fonts/GothamPro.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Myriad Pro Regular';
  src: url('../fonts/MyriadPro-Regular.woff2') format('woff2'),
    url('../fonts/MyriadPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

*,
*:after,
*:before {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-family: 'Gotham Pro', sans-serif;
  background-color: #292929;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

/* Header */

.header {
  padding: 46px 0;
}

.header-description {
  font-family: 'Gotham Pro Light';
  letter-spacing: 0.12px;
  font-size: 12px;
  line-height: normal;
}

.text-color-red {
  font-family: 'Gotham Pro Medium';
  letter-spacing: 0.12px;
  font-size: 12px;
  line-height: normal;
  color: #FF3469;
}

.header-contacts {
  text-align: right;
}

.header-phone {
  display: block;
  font-family: 'Gotham Pro Medium';
  font-size: 20px;
  line-height: normal;
  letter-spacing: 0.2px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 7px;
}

.header-info {
  display: block;
  font-size: 12px;
  letter-spacing: 0.12px;
  line-height: normal;
  margin-bottom: 16px;
}

.callback {
  display: block;
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: normal;
  color: #FF3469;
}

/* Hero */

.hero {
  text-align: center;
  padding: 100px 0 77px;
  border-bottom: 1px solid #4c4c4c;
}

.hero-title {
  max-width: 690px;
  font-family: 'Gotham Pro Medium';
  font-size: 34px;
  letter-spacing: 0.34px;
  margin: 0 auto 34px;
  line-height: 45px;
  text-transform: uppercase;
}

.hero-description {
  display: block;
  max-width: 590px;
  margin: 0 auto 87px;
  font-family: 'Gotham Pro Light';
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 22px;
  text-transform: uppercase;
}

.flowers-slider {
  width: 100%;
  text-align: center;
  margin-bottom: 60px;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  content: '';
}

.slider-arrow {
  padding: 20px;
}

.arrow-prev,
.arrow-next {
  background-color: #292929;
  border: none;
}

:root {
  --swiper-navigation-size: 18px;
}

.hero-cta {
  font-family: 'Gotham Pro Light';
  display: block;
  font-size: 19px;
  letter-spacing: 0.19px;
  line-height: 23px;
  margin-bottom: 35px;
}

.button {
  display: inline-block;
  font-size: 18px;
  text-transform: uppercase;
  text-decoration: none;
  color: #FFFFFF;
  background-color: #ff2e55;
  padding: 26px 65px;
  border: none;
  cursor: pointer;
}

/* Reviews */

.reviews {
  padding: 100px 0;
}

.sections-title {
  font-family: 'Gotham Pro Medium';
  font-size: 30px;
  letter-spacing: 0.3px;
  line-height: 36px;
  text-transform: uppercase;
  text-align: center;
  margin: 0;
}

.reviews-slider {
  margin-top: 95px;
}

.review-slide {
  padding: 0 60px;
}

.review-image {
  position: relative;
  width: 220px;
  height: 220px;
  flex-shrink: 0;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  overflow: hidden;
  font-family: 'Gotham Pro Light';
  font-size: 20px;
  line-height: 30px;
  margin-right: 50px;
}

.review-image:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.review-image>* {
  position: relative;
}

.review-image-1 {
  background: #000000 url('../img/reviews/review-1.jpeg');
  background-size: cover;
}

.review-image-2 {
  background: #000000 url('../img/reviews/review-2.jpg');
  background-size: cover;
}

.review-image-3 {
  background: #000000 url('../img/reviews/review-3.jpg');
  background-size: cover;
}

.reviews-text {
  display: inline-block;
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 21.6px;
  margin-bottom: 10px;
}

.review-link {
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 21.6px;
  color: #F24841;
}

/* Advantages */

.advantages {
  text-align: center;
  padding-bottom: 100px;
  border-bottom: 1px solid #4C4C4C;
}

.advantages-wrapper {
  min-height: 82px;
  margin-bottom: 30px;
}

.advantages-text {
  font-family: 'Gotham Pro Medium';
  display: inline-block;
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 25px;
  text-transform: uppercase;
}

/* Goods */

.goods {
  padding: 100px 0;
}

.goods-description {
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 21px;
  text-align: center;
  margin: 20px 0 75px;
}

.card {
  text-align: center;
  border: 3px solid #FFFFFF;
  padding: 33px 35px 30px 35px;
  margin-top: 27px;
}

.good-card-image {
  display: flex;
  justify-content: center;
  height: 72px;

}

.card-title {
  font-family: 'Gotham Pro Medium';
  font-size: 20px;
  letter-spacing: 0.2px;
  line-height: 24px;
  text-transform: uppercase;
  margin: 23px 0 20px;
}

.card-label {
  display: block;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 17px;
  margin-bottom: 7px;
}

.colors {
  margin-bottom: 16px;
}

.color-label {
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.color-input {
  opacity: 0;
  visibility: hidden;
  position: absolute;
  z-index: -9;
}

.color-label.white {
  background-color: #FFFFFF;
}

.color-label.biege {
  background-color: #F7B496;
}

.color-label.pink {
  background-color: #ED366E;
}

.color-label.red {
  background-color: #FF0000;
}

.color-label.blue {
  background-color: #12129D;
}

.counter-group {
  margin-bottom: 20px;
}

.counter-button {
  font-size: 16px;
  width: 40px;
  height: 40px;
  color: #FFFFFF;
  background-color: #292929;
  border: none;
  cursor: pointer;
}

.counter-input {
  width: 40px;
  height: 40px;
  border: 2px solid #FFFFFF;
  text-align: center;
  color: #FFFFFF;
  background-color: #292929;
  margin: 0 15px;
}

.card-button {
  font-family: 'Gotham Pro Medium';
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 17px;
  text-transform: uppercase;
  padding: 14px 26px;
}

.more {
  display: block;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 17px;
  color: #F24841;
  text-align: center;
  margin-top: 39px;
  padding: 10px;
}

.more:after {
  content: '';
  display: inline-block;
  width: 10px;
  height: 4px;
  vertical-align: middle;
  background: url('../img/caret.svg') no-repeat center;
  margin-left: 14px;
}

/* Offer */

.offer {
  background-color: #1A1A1A;
  border-bottom: 1px solid #4c4c4c;
  padding: 100px 0;
  text-align: center;
}

.offer-link {
  display: block;
  font-family: 'Gotham Pro Medium';
  font-size: 30px;
  letter-spacing: 0.3px;
  line-height: 36px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 57px;
}

.offer-label {
  display: block;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 17px;
  margin-bottom: 22px;
}

.offer-phone {
  display: block;
  font-size: 36px;
  letter-spacing: 0.36px;
  line-height: 44px;
  color: #FFFFFF;
  text-decoration: none;
}

/* Footer */

.footer-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-bottom: 33px;
}

.footer-menu-link {
  font-family: 'Gotham Pro Medium';
  font-size: 18px;
  letter-spacing: 0.18px;
  line-height: 22px;
  color: #FFFFFF;
  text-transform: uppercase;
}

.footer-menu-item {
  margin-right: 30px;
}

.social {
  font-size: 16px;
  letter-spacing: 0.16px;
  line-height: 20px;
  margin-right: 15px;
}

.footer-info {
  text-align: right;
}

.footer-label {
  display: block;
  font-size: 14px;
  letter-spacing: 0.14px;
  line-height: 17px;
  margin-bottom: 12px;
}

.footer-phone {
  display: block;
  font-family: 'Gotham Pro Medium';
  font-size: 24px;
  letter-spacing: 0.24px;
  line-height: 29px;
  color: #FFFFFF;
  text-decoration: none;
  margin-bottom: 12px;
}

.footer-white {
  color: #292929;
  background-color: #FFFFFF;
  padding: 35px 0;
}

.author-text {
  display: flex;
  justify-content: flex-end;
}

.author,
.author-link {
  font-family: 'Myriad Pro Regular';
  font-size: 12px;
  letter-spacing: 0.12px;
  line-height: 15px;
}

.author-link {
  color: #292929;
}

.modal {
  display: none;
  color: #292929;
  text-align: center;
}

.modal-input {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  margin-bottom: 30px;
}

.modal-button {
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    text-align: center;
  }

  .header-contacts {
    text-align: center;
  }

  .hero {
    padding: 50px 0;
  }

  .hero-title {
    font-size: 24px;
    margin-bottom: 20px;
    line-height: 1.6;
  }

  .hero-description {
    font-size: 16px;
    line-height: 1.6;
  }

  .button {
    font-size: 15px;
    padding: 15px 30px;
  }

  .sections-title {
    font-size: 24px;
  }

  .reviews {
    padding: 50px 0;
  }

  .reviews-slider {
    margin-top: 50px;
  }

  .review-image {
    margin-right: 0;
  }

  .advantages {
    padding-bottom: 0;
  }

  .advantages-text {
    font-size: 16px;
  }

  .goods {
    padding: 50px 0;
  }

  .goods-description {
    margin-bottom: 30px;
  }

  .colors {
    max-width: 200px;
    margin: auto;
  }

  .card-label {
    margin: 20px auto;
  }

  .offer {
    padding: 50px 0;
  }

  .offer-link {
    font-size: 24px;
    margin-bottom: 40px;
  }

  .offer-phone {
    font-size: 24px;
  }

  .author-text {
    justify-content: flex-start;
  }

}

@media (max-width: 576px) {

  .offer,
  .offer-title,
  .footer-info {
    text-align: left
  }

  .footer-menu {
    margin-bottom: 15px;
  }
}